CI_ENVIRONMENT = production

app.baseURL = 'http://localhost/elibrary-gkkai/'
app.indexPage = ''
app.forceGlobalSecureRequests = false

database.default.hostname = localhost
database.default.database = elibrary_gkkai
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
sessionSavePath = WRITEPATH . 'session'

logger.threshold = 4
